<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425492680803-sjpu4ditucq7av2t4j9dioqfj273ihco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425492680803-sjpu4ditucq7av2t4j9dioqfj273ihco</string>
	<key>API_KEY</key>
	<string>AIzaSyANr6QZg1MyubYQNS2VpLWeLjTqrFP7rJo</string>
	<key>GCM_SENDER_ID</key>
	<string>425492680803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mb.bookstore.BookStore</string>
	<key>PROJECT_ID</key>
	<string>bookstore-a5990</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-a5990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425492680803:ios:7f3bba756cb5ef8416a856</string>
	<key>DATABASE_URL</key>
	<string>https://bookstore-a5990.firebaseio.com</string>
</dict>
</plist>